{% extends 'email/layout/layout.twig' %}
{% block content %}

    <p>Pozdrav,</p>
    <p>{{ data.email }} je poslao poruku sa kontakt forme:</p>
    <p>Naslov: {{ data.title }}</p>
    <p>Poruka: </p>
    <p>{{ data.message }}</p>

{% endblock %}