{% extends 'email/layout/layout.twig' %}
{% block content %}

    <p>Pozdrav, poslata je nova biografija za odobravanje na inmemoriam.blic.rs.</p>
    <p>Možete se ulogovati u <a href="https://inmemoriam.blic.rs/hcfux/user/loginForm/">admin panel</a> da pogledate.</p>


{% endblock %}